Leaderboard
{
	position: absolute;
	right: 0;
	top: 0;
	flex-direction: column;
	margin-right: 15px;
	margin-top: 15px;
	width: 40%;
	height: 100%;
	font-family: "Sigmar One";

	.TopBar
	{
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.7);
		border: 4px solid white;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 65px;
		color: white;
	}
	
	.Score
	{
		margin-bottom: 5px;
	}
	
	.Leaderboard
	{
		background-color: rgba(0, 0, 0, 0.7);
		flex-direction: column;
		border: 4px solid white;
		border-top: 0 solid white;
		overflow-y: hidden;
		margin-bottom: 35px;
	}
	
	.LeaderboardEntry
	{
		width: 100%;
		color: white;
		font-size: 35px;
		flex-direction: row;
		align-items: center;
		padding: 15px;
		border-bottom: 2px solid white;
	}
	
	.ToggleButton
	{
		pointer-events: all;
		color: #b0afaa;
		
		&:hover
		{
			color: white;
			transform: scale(1.1);
		}
		
		&:active
		{
			sound-in: ui.button.press;
		}
	}

	.hide
	{
		opacity: 0;
	}
}