Inventory
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	flex-direction: column;
	
	.menuIcon
	{
		pointer-events: all;
		margin-top: 15px;
		margin-left: 15px;
		width: 150px;
		height: 150px;
	}
	
	.itemContainer
	{
		pointer-events: all;
		overflow-x: scroll;
		width: 100%;
		height: 100%;
		margin: 10px;
		max-width: 28.2%;
		max-height: 50%;
		background-color: rgba(0, 0, 0, 0.5);
		flex-wrap: wrap;
		flex-direction: row;
		gap: 20px;
		padding: 20px;
	}
	
	.hide
	{
		opacity: 0;
	}
	
	.entry
	{
		background-color: rgba(0, 0, 0, 0.8);
		width: 150px;
		height: 150px;
		border: 6px solid white;
	}
}