@using System
@using System.Collections.Generic
@using System.Linq
@using Sandbox
@using Sandbox.Services
@namespace TortureTerry
@inherits Sandbox.PanelComponent

<root>
	<div class="Score">@Score</div>
	<div class="Leaderboard">
		@foreach ( var i in Leaderboards.Get( "score" ).Entries )
		{
			<div class="LeaderboardEntry">@i.DisplayName @i.(int)Value</div>
		}
	</div>
</root>

@code
{
	public static int Score { get; set; }
	public static List<Terry> Terries { get; set; } = [];
	public Leaderboards.Board Scoreboard { get; set; }

	protected override void OnStart()
	{
		Terries.Clear();
		Terries.Add( Scene.Components.Get<Terry>() );
		Score = 0;
	}

	protected override int BuildHash()
	{
		return (int)Score;
	}
}
